/*--------------------------
 app.css
 @author Kanokphol Techarattanaprasert 5410545915 (@sonnyhonny)
 Additional Stylesheet for ExceedVote Application
 	- Base on Twitter Bootstrap Elements
 	- Inspire by FTW Inc's Website.
 selector {
 	- Properties
 	- Box-Model
 	- etc.
 }
 -------------------------*/

html {
	height: 100%;
}

body {
	background: url('../images/ftw_bg.png') repeat-x #adb2b5;
	height: 100%;
	padding: 0;
}

.white-30 {
	background: url('../images/white-30.png');
	width: 1020px;
	min-height: 100%;
	margin: auto;
}

.navbar-exceed {
}

.navbar-inner {
	background: white;
	border-width: 0px;
	height: 50px;
	min-height: 50px;
}

.navbar-static-top .navbar-inner {
	border-width: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

header.title {
	background: #fafafa;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	padding: 10px 20px;
}

header.title h2 {
	margin: 0;
}

.btm-border {
	border-bottom: 1px #f2f2f2 solid;
}

.black-add {
	background: url('../images/black-add.png') #303030;
	padding: 10px 20px;
	color: white;
}

.black-add input {
	margin-bottom: 0px;
}

.shadow {
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.content {
	background: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 5px 20px;
}

.content-divider {
	border-bottom: 1px #f2f2f2 solid;
	margin: 10px 0;
}

.content .breadcrumb {
	background: white;
	padding: 0;
	margin: 0 0 15px 0;
}

/* Criterion */
.criterion {
	background: whiteSmoke;
	border-radius: 4px;
	padding: 5px 10px;
	margin-bottom: 20px;
}

/* Request */
.request-status-success {
	background: green;
	color: white;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	padding: 10px 15px;
	width: 600px;
	margin: 20px auto;
}

.request-status-unsuccess {
	background: red;
	color: white;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	padding: 10px 15px;
	width: 600px;
	margin: 20px auto;
}

.request-inner {
	font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
	font-size: 20px;
	margin: 0;
}

.request-link {
	background-color: whiteSmoke;
	color: #d14;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	padding: 10px 15px;
	width: 600px;
	margin: 20px auto;
}

/* Sidebar */
.sidebar {
	/* background: #3a3a3a; */
	background: url("../images/dark_wall.png");
	color: white;
}

ul.sidebar-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.sidebar-nav .user-detail {
	padding: 20px 20px 10px 20px;
}

ul.sidebar-nav > li {
	list-style: none;
}

ul.sidebar-nav > li:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

ul.sidebar-nav > li > a {
	font-weight: bold;
	text-decoration: none;
	color: white;
	display: block;
	padding: 13px 20px;
}

ul.sidebar-nav > li > a:hover {
	color: #68c9ed;
	background: black;
}

ul.sidebar-nav > li > a:active {
	color: #68c9ed;
	background: black;
}

ul.sidebar-nav > li:last-child > a:hover {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: black;
}

ul.sidebar-nav > li > a > i {
	font-size: 16px;
	margin-top: 2px;
	margin-right: 5px;	
}

/* Footer */
.footer {
	background: white;
	border-radius: 5px;
	margin-top: 20px;
	padding: 5px 20px;
}