@(user: User, ballots: List[Ballot])

@sidebar = {
	@views.html.sidebar(user)
}

@import helper._

@main("ExceedVote | Ballot")(sidebar) {
	<div class="shadow">
	<header class="title">
		<h2 style="position: relative">
			Ballot
		</h2>
	</header>
	<div class="btm-border"></div>
	<div class="content">
		<h3 style="margin-top: 5px">Your Ballots</h3>
		<table class="table table-hover table-condensed table-bordered">
			<tr style="background-color: #fafafa">
				<th>User</th>
				<th>Project</th>
				<th>Question</th>
			</tr>
			@for(ballot <- ballots) {
			<tr>
				<td>@ballot.user.getUsername()</td>
				<td>@ballot.project.getName()</td>
				<td>@ballot.criterion.getQuestion()</td>
			</tr>
			}
		</table>
	</div>
	</div>
}