@(criteria: List[Criterion], criterionForm: Form[Criterion])

@sidebar = {
	@views.html.sidebar(true)
}

@import helper._

@main("ExceedVote | Criteria")(sidebar) {
	<div class="shadow">
	<header class="title">
		<h2 style="position: relative">
			Criteria
			<button class="btn btn-warning pull-right add-item" style="margin-top: 4px">Add Criterion</button>
		</h2>
	</header>
	<div class="btm-border"></div>
	<div class="black-add" style="display: none">
		<h4>Add New Criterion</h4>
		<p>Criterion...</p>
		@form(admin.routes.Criteria.create()) {
		<input type="text" name="question" placeholder="Criterion" style="width: 450px">
		<input class="btn" type="submit" value="Save Criterion">
	}
	</div>
	<div class="content">
		<h3 style="margin-top: 5px">
			All Criterion
			<span class="badge" style="margin-top: -3px; vertical-align: middle">@criteria.size()</span>
		</h3>
		@if(criteria.isEmpty()) {
		<p>No criterion now</p>
		} else {
		@for(criterion <- criteria) {
		<div class="criterion">
		<h4><a href="/admin/criterion/@criterion.id">@criterion.question</a></h4>
		@form(admin.routes.Criteria.delete(criterion.id)) {
		<input class="btn btn-danger" type="submit" value="Delete">
		</div>
		}
		}
		}
		<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li><a href="/admin">Admin Panel</a> <span class="divider">/</span></li>
  			<li class="active">Criterion</li>
		</ul>
	</div>
	</div>
}