@(user: User, criteria: List[Criterion])

@sidebar = {
	@views.html.sidebar(user, "ADMIN CRITERION")
}

@import helper._

@main("ExceedVote | Criteria")(sidebar) {
	<div class="shadow">
	<header class="title">
		<h2 style="position: relative">
			Criteria
			<button class="btn btn-warning pull-right add-item" style="margin-top: 4px">Add Criterion</button>
		</h2>
	</header>
	<div class="btm-border"></div>
	<div class="black-add" style="display: none">
		@form(admin.routes.Criteria.create()) {
		<h4>Add New Criterion</h4>
		<div style="margin: 0; width: 95%">
			<label><strong>Criterion</strong></label>
			<input type="text" name="question" style="width: 100%">
			<span class="help-block" style="color: white">Criterion (Question) to judged.</span>
		</div>
		<input type="submit" value="Save Criterion" class="btn btn-success">
		<button class="btn add-item" style="margin-left: 5px">Cancel</button>
		}
	</div>
	<div class="content">
		<h3 style="margin-top: 5px">
			All Criterion
			<span class="badge" style="margin-top: -3px; vertical-align: middle">@criteria.size()</span>
		</h3>
		@if(criteria.isEmpty()) {
		<p>No criterion now</p>
		} else {
		@for(criterion <- criteria) {
		<div class="criterion">
		<h4 style="position: relative"><a href="/admin/criterion/@criterion.id">@criterion.question</a></h4>
		@form(admin.routes.Criteria.delete(criterion.id)) {
		<input class="btn btn-danger pull-right" style="margin-top: -36px" type="submit" value="Delete">
		</div>
		}
		}
		}
		<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li><a href="/admin">Admin Panel</a> <span class="divider">/</span></li>
  			<li class="active">Criterion</li>
		</ul>
	</div>
	</div>
}