@(user: User, criterion: Criterion, ballots: List[Ballot])

@sidebar = {
	@views.html.sidebar(user, "ADMIN CRITERION")
}

@import helper._

@if(criterion==null) {
	@main("ExceedVote | Not found")(sidebar) {
	<p>Not found!</p>
	}
} else {
	@main("ExceedVote | Criterion | " + criterion.question)(sidebar) {
	<div class="shadow">
	<header class="title">
		<h2 style="position: relative">
			@criterion.question
			<button class="btn btn-warning pull-right add-item" style="margin-top: 4px">Edit Criterion</button>
		</h2>
	</header>
	<div class="btm-border"></div>
	<div class="black-add" style="display: none">
	@form(admin.routes.Criteria.update(criterion.id)) {
	<h4>Edit @criterion.question</h4>
	<div style="margin: 0; width: 95%">
		<label><strong>Criterion</strong></label>
		<input type="text" name="question" value="@criterion.question" style="width: 100%">
		<span class="help-block" style="color: white">Criterion (Question) to judged.</span>
	</div>
	<input type="submit" value="Save Criterion" class="btn btn-success">
	<button class="btn add-item" style="margin-left: 5px">Cancel</button>
	}
	</div>
	<div class="content">
		<h3 style="margin-top: 5px">@criterion.question</h3>
		@if(criterion.description == "" || criterion.description == null) {
		<p>@criterion.question didn't have <em>Description</em>. Edit <a class="add-item">here</a></p>
		} else {
		<p>@criterion.description</p>
		}
		<h3>All @(criterion.question)'s Ballots</h3>
		@if(ballots.isEmpty) {
		<p>No Ballot in @criterion.question</p>
		} else {
		<table class="table table-hover table-condensed table-bordered">
			<tr style="background-color: #fafafa">
				<th>User</th>
				<th>Project</th>
			</tr>
			@for(ballot <- ballots) {
			<tr>
				<td>@ballot.user.getUsername()</td>
				<td>@ballot.project.getName()</td>
			</tr>
			}
		</table>
		}
		<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li><a href="/admin">Admin Panel</a> <span class="divider">/</span></li>
  			<li><a href="/admin/criterion">Criterion</a> <span class="divider">/</span></li>
  			<li class="active">@criterion.question</li>
		</ul>
	</div>
	</div>
	}
}