@(user: User)

@sidebar = {
	@views.html.sidebar(user, "ADMIN PANEL")
}

@main("ExceedVote | Admin Panel")(sidebar) {
	<div class="shadow">
	<header class="title">
		<h2 style="position: relative">
			Admin Panel
		</h2>
	</header>
	<div class="btm-border"></div>
	<div class="content">
		<p><a href="/admin/project">Project</a></p>
		<p><a href="/admin/criterion">Criterion</a></p>
		<p><a href="/admin/user">User</a></p>
		<p><a href="/admin/rule">Rule</a></p>
		<p><a href="/admin/request">Request</a></p>
		<p><a href="/admin/project">Ballot</a></p>
		<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li class="active">Admin Panel</li>
		</ul>
	</div>
	</div>
}