@(loginForm: Form[Application.Login])

@sidebar = {
	@views.html.sidebar(true)
}

@import helper._

@main("Login")(sidebar) {
	<h1>login.scala.html</h1>
	@helper.form(routes.Application.authenticate) {
		@if(loginForm.hasGlobalErrors) {
			@loginForm.globalError.message
		}
		@if(flash.contains("success")) {
			@flash.get("success")
		}
		<p><input type="text" name="username" placeholder="Username"></p>
		<p><input type="password" name="password" placeholder="Password"></p>
		<p><input class="btn btn-primary" type="submit" value="Login"></p>
	}
}