@(user: User, projects: List[Project])

@sidebar = {
	@views.html.sidebar(user)
}

@import helper._

@main("ExceedVote | Project")(sidebar) {
	<div class="shadow">
	<header class="title">
		<h2 style="position: relative">
			Project
			<button class="btn btn-warning pull-right add-item" style="margin-top: 4px">Add Project</button>
		</h2>
	</header>
	<div class="btm-border"></div>
	<div class="black-add" style="display: none">
	<h4>Add a new Project</h4>
	<p>Project...</p>
	@form(admin.routes.Projects.create()) {
		<input type="text" name="name" placeholder="Project Name" style="width: 450px; margin-bottom: 10px"><br>
		<textarea name="description" rows="3" placeholder="Project Description" style="width: 450px; margin-bottom: 10px"></textarea><br>
		<input type="text" name="imgUrl1" placeholder="Screenshot #1" style="width: 450px; margin-bottom: 10px"><br>
		<input type="text" name="imgUrl2" placeholder="Screenshot #2" style="width: 450px; margin-bottom: 10px"><br>
		<input type="text" name="imgUrl3" placeholder="Screenshot #3" style="width: 450px; margin-bottom: 10px"><br>
		<input type="submit" value="Save Project" class="btn">
	}
	</div>
	<div class="content">
		<h3 style="margin-top: 5px">
			All Project
			<span class="badge" style="margin-top: -3px; vertical-align: middle">@projects.size()</span>
		</h3>
		@if(projects.isEmpty()) {
		<p>No project now</p>
		} else {
		@for(project <- projects) {
		<div class="project">
		@if(project.getImgUrl1 == null || project.getImgUrl1 == "") {
			<div class="pull-left" style="width: 40px; height: 40px; margin-right: 10px"></div>
		} else {
			<div class="project-img">
				<img src="@project.getImgUrl1()" class="img-circle pull-left" style="width: 40px; height: 40px; margin-right: 10px">
			</div>
		}
		<h4><a href="/admin/project/@project.name">@project.name</a></h4>
		@form(admin.routes.Projects.delete(project.name)) {
		<input type="submit" value="Delete" class="btn btn-danger pull-right" style="margin-top: -36px">
		}
		</div>
		}
		}
		<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li><a href="/admin">Admin Panel</a> <span class="divider">/</span></li>
  			<li class="active">Project</li>
		</ul>
	</div>
	</div>
}