@(user: User, project: Project, isOwner: Boolean)

@sidebar = {
	@views.html.sidebar(user, "PROJECT")
}

@import helper._

@if(project == null) {
@main("ExceedVote | Not found!")(sidebar) {
	@views.html.notfound("Project")
}
} else {
@main("ExceedVote | Project | " + project.getName())(sidebar) {
	<div class="shadow">
	<header class="title">
		<h2 style="position: relative">
			@project.getName()
		</h2>
	</header>
	<div class="btm-border"></div>
	<div class="content">
		@if(isOwner) {
		<p>true</p>
		} else {
		<p>false</p>
		}
		<h3 style="margin-top: 5px">@project.name</h3>
		<p>@project.description</p>
		@if(project.getImgUrl1() == null || project.getImgUrl1() == "") {
		<p>No pics</p>
		} else {
		<img src="@project.getImgUrl1()" class="img-rounded">
		<img src="@project.getImgUrl2()" class="img-rounded">
		<img src="@project.getImgUrl3()" class="img-rounded">
		}
		<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li><a href="/project">Project</a> <span class="divider">/</span></li>
  			<li class="active">@project.name</li>
		</ul>
	</div>
	</div>
}
}