@(user: User, projects: List[Project])

@sidebar = {
	@views.html.sidebar(user)
}

@import helper._

@main("ExceedVote | Project")(sidebar) {
	<div class="shadow">
	<header class="title">
		<h2 style="position: relative">
			Project
			<button class="btn btn-warning pull-right add-item" style="margin-top: 4px">Add Project</button>
		</h2>
	</header>
	<div class="btm-border"></div>
	<div class="black-add" style="display: none">
	<h4>Add a new Project</h4>
	<p>Project...</p>
	@form(admin.routes.Projects.create()) {
		<input type="text" name="name" placeholder="Project Name" style="width: 450px; margin-bottom: 10px"><br>
		<textarea name="description" rows="3" placeholder="Project Description" style="width: 450px; margin-bottom: 10px"></textarea><br>
		<input type="submit" value="Save Project" class="btn">
	}
	</div>
	<div class="content">
		<h3 style="margin-top: 5px">
			All Project
			<span class="badge" style="margin-top: -3px; vertical-align: middle">@projects.size()</span>
		</h3>
		@if(projects.isEmpty()) {
		<p>No project now</p>
		} else {
		@for(project <- projects) {
		<p><a href="/admin/project/@project.name">@project.name</a></p>
		<p>@project.description</p>
		@form(admin.routes.Projects.delete(project.name)) {
		<input type="submit" value="Delete">
		}
		}
		}
		<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li><a href="/admin">Admin Panel</a> <span class="divider">/</span></li>
  			<li class="active">Project</li>
		</ul>
	</div>
	</div>
}