@(user: User, requests: List[Request])

@sidebar = {
	@views.html.sidebar(user, "ADMIN REQUEST")
}

@import helper._

@main("ExceedVote | Request")(sidebar) {
	<div class="shadow">
	<header class="title">
		<h2 style="position: relative">Request</h2>
	</header>
	<div class="btm-border"></div>
	<div class="content">
	<h3 style="margin-top: 5px">
		All Request
		<span class="badge" style="margin-top: -3px; vertical-align: middle">@requests.size()</span>
	</h3>
		@if(requests.isEmpty()) {
			<p>No request now</p>
		} else {
		@for(request <- requests) {
			<div class="criterion">
			<h4 style="position: relative; margin-right: 100px">@request.getUsername()</h4>
			@form(admin.routes.Requests.create()) {
			<input name="username" value="@request.getUsername()" type="hidden">
			<input name="password" value="@request.getPassword()" type="hidden">
			@if(request.isApprove()) {
			<input class="btn btn-primary pull-right" style="margin-top: -36px" type="submit" value="Approved" disabled="disabled">
			} else {
			<input class="btn btn-primary pull-right" style="margin-top: -36px" type="submit" value="Approve">
			}
			}
			</div>
		}
		}
		<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li><a href="/admin">Admin Panel</a> <span class="divider">/</span></li>
  			<li class="active">Ballot</li>
		</ul>
	</div>
	</div>
}