@(user_login: User, users: List[User], roles: List[Role], projects: List[Project])

@sidebar = {
	@views.html.sidebar(user_login, "ADMIN USER")
}

@import helper._

@main("ExceedVote | User")(sidebar) {
	<div class="shadow">
	<header class="title">
		<h2 style="position: relative">
			User
			<button class="btn btn-warning pull-right add-item" style="margin-top: 4px">Add User</button>
		</h2>
	</header>
	<div class="btm-border"></div>
	<div class="black-add" style="display: none">
		<h4>Add New User</h4>
		@form(admin.routes.Users.create()) {
		<div class="pull-left" style="margin: 0; width: 50%">
			<label><strong>Username</strong></label>
			<input type="text" name="username" placeholder="Username" style="width: 90%">
			<span class="help-block" style="color: white">Username.</span>
			<label><strong>Role</strong></label>
				<select name="role_id" style="width: 94%; margin-bottom: 0">
					@for(role <- roles) {
					<option value="@role.id">@role.name</option>
					}
				</select>
			<span class="help-block" style="color: white">User's Role.</span>
		</div>
		<div class="pull-right" style="margin: 0; width: 50%">
			<label><strong>Password</strong></label>
			<input type="password" name="password" placeholder="Password" style="width: 90%">
			<span class="help-block" style="color: white">Password.</span>
			<label><strong>Project</strong></label>
			<select name="project_id" style="width: 94%; margin-bottom: 0">
				<option value="999">-- None --</option>
				@for(project <- projects) {
				<option value="@project.id">@project.name</option>
				}
			</select>
			<span class="help-block" style="color: white">User's Project.</span>
		</div>
		<input type="submit" value="Save User" class="btn btn-success">
		<button class="btn add-item" style="margin-left: 5px">Cancel</button>
		}
	</div>
	<div class="content">
		<h3 style="margin-top: 5px">
			All User
			<span class="badge" style="margin-top: -3px; vertical-align: middle">@users.size()</span>
		</h3>
		<table class="table table-hover table-bordered">
			<tr style="background-color: #fafafa">
				<th>Username</th>
				<th>Full Name</th>
				<th>Role</th>
				<th>Admin</th>
			</tr>
			@for(user <- users) {
			<tr>
				<td><a href="/admin/user/@user.username">@user.username</a></td>
				<td>@user.name</td>
				<td>@user.role.getName()</td>
				@if(user.isAdmin==true) {
				<td>Yes</td>
				} else {
				<td>No</td>
				}
			</tr>
			}
		</table>
		<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li><a href="/admin">Admin Panel</a> <span class="divider">/</span></li>
  			<li class="active">User</li>
		</ul>
	</div>
	</div>
}