@(user_login: User, user: User, ballots: List[Ballot])

@sidebar = {
	@views.html.sidebar(user_login)
}

@import helper._

@if(user==null) {
	@main("ExceedVote | Not found")(sidebar) {
	<p>Not found!</p>
	}
} else {
	@main("ExceedVote | User | " + user.username)(sidebar) {
	<div class="shadow">
	<header class="title">
		<h2 style="position: relative">
			@user.username
			<button class="btn btn-warning pull-right add-item" style="margin-top: 5px; margin-left: 5px">Edit User</button>
			<button class="btn btn-danger pull-right add-item" style="margin-top: 5px">Delete User</button>
		</h2>
	</header>
	<div class="btm-border"></div>
	<div class="black-add" style="display: none">
		@form(admin.routes.Users.update(user.username)) {
			<h4>Edit @user.username</h4>
			<input type="text" name="new_username" value="@user.username" style="width: 450px; margin-bottom: 10px"><br>
			<input type="password" name="new_password" value="@user.password" style="width: 450px; margin-bottom: 10px"><br>
			<input type="text" name="new_name" value="@user.name" style="width: 450px; margin-bottom: 10px"><br>
			<input name="new_role_id" value="@user.role.getId()" type="hidden">
			<input type="submit" value="Save User" class="btn">
		}
	</div>
	<div class="content">
		<h3 style="margin-top: 5px">@user.username</h3>
		<!-- TODO User Description -->
		<h3>All @(user.username)'s Ballots</h3>
		@if(ballots.isEmpty) {
		<p>No Ballot by @user.username</p>
		} else {
		<table class="table table-hover table-condensed table-bordered">
			<tr style="background-color: #fafafa">
				<th>Criterion</th>
				<th>Project</th>
			</tr>
			@for(ballot <- ballots) {
			<tr>
				<td>@ballot.criterion.getQuestion()</td>
				<td>@ballot.project.getName()</td>
			</tr>
			}
		</table>
		}
		<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li><a href="/admin">Admin Panel</a> <span class="divider">/</span></li>
  			<li><a href="/admin/user">User</a> <span class="divider">/</span></li>
  			<li class="active">@user.username</li>
		</ul>
	</div>
	</div>
	}
}