@(user_login: User, user: User, ballots: List[Ballot], roles: List[Role], projects: List[Project])

@sidebar = {
	@views.html.sidebar(user_login, "ADMIN USER")
}

@import helper._

@if(user==null) {
	@main("ExceedVote | Not found")(sidebar) {
	<p>Not found!</p>
	}
} else {
	@main("ExceedVote | User | " + user.username)(sidebar) {
	<div class="shadow">
	<header class="title">
		<h2 style="position: relative">
			@user.username
			<button class="btn btn-warning pull-right add-item" style="margin-top: 5px; margin-left: 5px">Edit User</button>
		</h2>
	</header>
	<div class="btm-border"></div>
	<div class="black-add" style="display: none">
		@form(admin.routes.Users.update(user.username)) {
		<h4>Edit @user.username</h4>
		<div class="pull-left" style="margin: 0; width: 50%">
			<label><strong>Username</strong></label>
			<input type="text" name="new_username" placeholder="Username" value="@user.username" style="width: 90%">
			<span class="help-block" style="color: white">Username.</span>
			<label><strong>Password</strong></label>
			<input type="password" name="new_password" placeholder="Password" value="@user.password" style="width: 90%">
			<span class="help-block" style="color: white">Password.</span>
			<label><strong>Full Name</strong></label>
			<input type="text" name="new_name" placeholder="Full Name" value="@user.name" style="width: 90%">
			<span class="help-block" style="color: white">Full Name.</span>
		</div>
		<div class="pull-right" style="margin: 0; width: 50%">
			<label><strong>Role</strong></label>
				<select name="new_role_id" style="width: 94%; margin-bottom: 0">
					@for(role <- roles) {
					<option value="@role.id">@role.name</option>
					}
				</select>
			<span class="help-block" style="color: white">User's Role.</span>
			<label><strong>Project</strong></label>
			<select name="new_project_id" style="width: 94%; margin-bottom: 0">
				<option value="999">-- None --</option>
				@for(project <- projects) {
				<option value="@project.id">@project.name</option>
				}
			</select>
			<span class="help-block" style="color: white">User's Project.</span>
		</div>
		<div style="clear: both"></div>
		<div style="margin: 0; width: 95%; position: relative">
			<input type="submit" value="Save User" class="btn btn-success">
			<button class="btn add-item" style="margin-left: 5px">Cancel</button>
		</div>
		}
	</div>
	<div class="content">
		<h3 style="margin-top: 5px">@user.username</h3>
		<p><strong>Username:</strong> @user.username</p>
		<p><strong>Password:</strong> @user.password</p>
		@if(user.name==null || user.name=="") {
		<p><strong>Full Name:</strong> -- <em>None</em> --</p>
		} else {
		<p><strong>Full Name:</strong> @user.name</p>
		}
		<p><strong>Role:</strong> @user.role.getName()</p>
		@if(user.project==null) {
		<p><strong>Project:</strong> -- <em>None</em> --</p>
		} else {
		<p><strong>Project:</strong> @user.project.getName()</p>
		}
		<!-- TODO User Description -->
		@form(admin.routes.Users.delete(user.username)) {
		<input type="submit" value="Delete This User" class="btn btn-danger">
		}
		<h3>All @(user.username)'s Ballots</h3>
		@if(ballots.isEmpty) {
		<p>No Ballot by @user.username</p>
		} else {
		<table class="table table-hover table-condensed table-bordered">
			<tr style="background-color: #fafafa">
				<th>Criterion</th>
				<th>Project</th>
			</tr>
			@for(ballot <- ballots) {
			<tr>
				<td>@ballot.criterion.getQuestion()</td>
				<td>@ballot.project.getName()</td>
			</tr>
			}
		</table>
		}
		<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li><a href="/admin">Admin Panel</a> <span class="divider">/</span></li>
  			<li><a href="/admin/user">User</a> <span class="divider">/</span></li>
  			<li class="active">@user.username</li>
		</ul>
	</div>
	</div>
	}
}