@(user: User, criteria: List[Criterion], projects: List[Project], voteForm: Form[Ballot])

@sidebar = {
	@views.html.sidebar(user)
}

@import helper._

@main("ExceedVote | Vote")(sidebar) {
	<div class="shadow">
	<header class="title">
		<h2 style="relative">
			Vote
		</h2>
	</header>
	<div class="btm-border"></div>
	<div class="content">
	@for(criterion <- criteria) {
		@helper.form(routes.Votes.vote()) {
			<p>@criterion.question</p>
			<input name="user_id" value="@user.id" type="hidden">
			<input name="criterion_id" value="@criterion.id" type="hidden">
			@if(criterion.ballotUsage(user) < user.role.getBallot()) {
				<p>Ballot remainder: @(user.role.getBallot() - criterion.ballotUsage(user))</p>
				<select name="project_id">
					@for(project <- projects) {
						<option value="@project.id">@project.name</option>
					}
				</select>
				<p><input class="btn btn-primary" type="submit" value="Vote"></p>
			} else {
				<p>You already use Ballot for this criterion</p>
				<p><input class="btn btn-danger" type="submit" value="Vote" disabled="disabled"></p>
			}
		}
	}
	<ul class="breadcrumb">
  		<li class="active">Home</li>
	</ul>
	</div>
	</div>
}