@(user: User, criteria: List[Criterion], projects: List[Project], voteForm: Form[Ballot])

@import helper._

@main("Vote") {
	<h1>Vote.scala.html</h1>
	<p>Logged in as @user.username</p>
	@form(routes.Application.logout()) {
		<input type="submit" value="Logout">
	}
	<h3>All Questions (Criteria)</h3>
	@for(criterion <- criteria) {
		@helper.form(routes.Votes.vote()) {
			<p>@criterion.question</p>
			<input name="user_username" value="@user.username" type="hidden">
			<input name="criterion_id" value="@criterion.id" type="hidden">
			<input name="project_id" value="1" type="hidden">
			<input type="submit" value="Vote">
		}
	}
}